<h1>Take a look at some Record Entries</h1>
<h3>Find yours below</h3>
    <%@user.records.each do |records|%>

    <div>
    <%= record.genre%>
    <%= record.artist_name %>
    <%= record.album_name %>
    <a href="/records/<%=record.id %>/edit">Edit</a>
    </div>
    <% end %>

    <a href='/records/new'>Add your Records! </a>