<h2>Add your Records here!</h2>
    <form action="/records" method="POST">
        <label for="genre">Genre:</label>
            <input type="text" name="genre" placeholder="Genre">
        <label for="artist_name">Artist Name:</label>
        <input type="text" name="artist_name">
        <label for="album_name">Album Name:</label>
        <input type="text" name="album_name">
        <input type="submit" value="Submit">
     </form>   